[D-BUS Service]
Name=com.jolla.weather
Exec=/usr/bin/invoker --type=silica-qt5 --desktop-file=sailfish-weather.desktop -s -n -d 5 /usr/bin/sailfish-weather
